#typewriter-container {
  width: 100%;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  font-size: 2rem;
  color: #5e5c6c;
  margin-bottom: 1rem;
}

#typewriter-prefix {
  font-weight: bold;
  text-align: right;
}

#typed-text {
  text-decoration: underline;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@media screen and (min-width: 600px) and (max-width: 625px) {
  #typewriter-container {
    grid-template-columns: 0.6fr 1fr;
  }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  #typewriter-container {
    grid-template-columns: 0.6fr 1fr;
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 451px) and (max-width: 499px) {
  #typewriter-container {
    grid-template-columns: 0.6fr 1fr;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  #typewriter-container {
    grid-template-columns: 0.6fr 1fr;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 350px) and (max-width: 399px) {
  #typewriter-container {
    grid-template-columns: 0.55fr 1fr;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 349px) {
  #typewriter-container {
    grid-template-columns: 0.55fr 1fr;
    font-size: 1.12rem;
  }
}
