#connections-container,
#connections-user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.connect-div {
  width: 300px;
  line-height: 1.75rem;
}

#active-connects-container {
  margin: 1rem 0;
}

#active-connects-header {
  text-align: center;
  font-weight: bold;
}

.connect-link,
.connect-link:visited {
  color: #363f4b;
}

.connect-link:hover {
  color: #a2bce0;
  color: #2f97c1;
}

#manage-connects-container {
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  grid-template-rows: 1.5rem auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "received sent"
    "data data";
}

.pending-connects-container {
  width: 100%;
  grid-area: data;
}

.pending-connects-container,
.manage-connects,
#search-connections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-connects {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem 0;
}

.manage-connects-toggle {
  cursor: pointer;
  margin-right: 0.25rem;
}

.none-pending {
  font-style: italic;
  color: #363f4b;
}

.toggle-header {
  display: flex;
}

.manage-connects-toggle:hover,
.toggle-selected {
  color: #bdd5ae;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

#manage-header {
  font-weight: bold;
  grid-area: title;
}

#search-connections-container {
  height: 105px;
}

#search-connections {
  height: 2rem;
  width: 250px;
  padding-left: 10px;
  background-color: #fcfcfc;
  border: 2px solid #dfdee3;
}

#psuedo-relative {
  position: relative;
  left: -133px;
  width: 0px;
  height: 0px;
}

#matched-users-container {
  position: absolute;
  width: 266px;
  max-height: 150px;
  font-size: 0.9rem;
  background-color: #dfdee3;
  overflow-y: scroll;
  line-height: 1.125rem;
}

.matched-users {
  cursor: pointer;
  padding-left: 10px;
  height: 1.25rem;
  padding-top: 5px;
}

.matched-users:hover {
  background-color: #bdd5ae;
}

#send-request-btn {
  margin-top: 0.5rem;
}

#guest-connect-container {
  margin: 0.5rem 3rem;
  line-height: 1.75rem;
}
