/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END OF CSS RESET */

html,
body {
  --map-width: 300px;
}

body {
  font: 18px sans-serif, Helvetica, Arial;
  color: #5e5c6c;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

html {
  margin: 0 auto;
  max-width: 1920px;
}

h1 {
  font-size: 1.25rem;
}

button {
  color: #fcfcfc;
  font-weight: 500;
  background-color: #a2bce0;
  border: 2px solid transparent;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #6c7d95;
}

button:active {
  background-color: #363f4b;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: 2px solid #bdd5ae;
  outline-offset: -3px;
}

/* BEGIN HEADER CSS */
header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  align-items: center;
  padding-top: 0.25rem;
  background-color: #dfdee3;
  margin-bottom: 1rem;
}

#title-container {
  height: 2rem;
  display: flex;
  align-items: center;
}

#app-title {
  position: relative;
  top: 0.2rem;
  height: 2rem;
  font-size: 2rem;
  color: #5e5c6c;
}

#auth-container {
  margin-right: 0.5rem;
  justify-self: end;
}

#sign-in-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#user-greeting {
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

nav {
  grid-column: 1 / 3;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: #2f97c1;
  text-decoration: none;
}
a:visited {
  color: #5e5c6c;
  color: #2f97c1;
}
a:hover {
  text-decoration: underline;
}

.nav-link,
.nav-link:visited,
a.view-map-link,
a.view-map-link:visited {
  color: #5e5c6c;
  /* font-weight: bold; */
}

.App,
#map,
#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-container {
  width: 100%;
}

.map-container {
  width: calc(var(--map-width) + 1rem);
  /* border: 1px solid black; */
  box-shadow: 5px 5px 10px #1c1c1c;
  margin: 1rem 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-feed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sign-in-btn,
#sign-out-btn,
#display-user-name {
  display: hidden;
}

/* BEGIN CONNECT CSS */
#connections-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#active-connects-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* margin-bottom: 2rem; */
}

#active-connects-header {
  text-align: center;
}

#manage-connects-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1rem auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "received sent";
}

.pending-connects-container,
.manage-connects,
#search-connections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-connects {
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem 0;
}

#manage-header {
  grid-area: title;
}

/* ICONS */
.inline-icons {
  width: 0.65rem;
  height: 0.65rem;
  padding-left: 0.25rem;
}

.link-icon {
  stroke: #2f97c1;
}

#app-logo {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}

/* ENGAGEMENT */
#engagement-container {
  font-size: 0.9rem;
}

.engage-btns-bar {
  margin: 0.5rem 0;
  width: var(--map-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.engage-icon-container {
  height: 2.75rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}

.engage-icon-container:hover {
  background-color: #dfdee3;
}

.engage-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.display-engagement-data {
  display: flex;
  justify-content: space-between;
}

.numberOfLikes {
  position: relative;
  top: 1rem;
  left: 2.75rem;
}

.numberOfComments {
  z-index: 10;
}

.numberOfComments:hover {
  cursor: pointer;
  text-decoration: underline;
}

.comments-container {
  display: none;
  width: var(--map-width);
}

.comment {
  margin: 0.25rem 0;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}
.comment-name {
  font-weight: bold;
}

.comment-date {
  justify-self: end;
  font-size: 0.75rem;
}

.comment-text {
  line-height: 1rem;
  margin-top: 0.35rem;
  grid-column: 1 / 3;
}

.userComment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userComment-textarea {
  width: 100%;
}

.post-comment-btn {
  margin-top: 0.25rem;
  display: none;
}

/* RENDERMAPS */
.view-map-link-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-owner-name {
  text-align: right;
  font-size: 0.85rem;
  margin-right: 0.5rem;
}

.view-map-link {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  margin-left: 0.5rem;
}

/* TOGGLE SWITCHES */
.toggle-container {
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.75rem;
  background-color: #ff9999;
  border-radius: 0.75rem;
  transition: all 0.3s;
}

.switch::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #d00000;
  top: 2px;
  left: 0.1rem;
  transition: all 0.3s;
}

input:checked + label {
  background-color: #bdd5ae;
}

.checkbox:checked + .switch::after {
  left: 1.35rem;
  background-color: #6a994e;
}

.checkbox {
  display: none;
}

.switch-label {
  display: flex;
  align-items: center;
  padding-right: 0.25rem;
}

/* CREATE MAP */
#create-map-container {
  width: 100%;
  height: auto;
  display: grid;
  border: none;
  box-shadow: none;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: auto;
  align-items: start;
  justify-items: center;
}

#map {
  /* margin-left: auto; */
  justify-self: end;
}

#add-marker-details {
  margin-right: auto;
}

#map-title-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

#map-title-input {
  height: 1.25rem;
  flex-grow: 2;
  padding-left: 0.25rem;
  margin-left: 0.25rem;
  /* border: 1px solid transparent; */
}

#search-bar {
  margin: 0.5rem 0;
}

#itinerary-container {
  /* width: calc(var(--map-width) * 2); */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  font-size: 1rem;
}

.itinerary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--map-width) * 0.9);
}

#add-marker-btn {
  display: none;
}

#add-marker-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-left: 1rem;
}

#where-container,
#when-container,
.form-field,
#form-btns {
  width: 100%;
}

#when-container,
.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.when-form,
#form-btns {
  width: 75%;
  flex-direction: row;
  justify-content: space-around;
}

textarea.input-field {
  width: 90%;
}

.form-section-header {
  /* height: 1.5rem; */
  padding-top: 0.25rem;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  color: #fcfcfc;
  background-color: #5e5c6c;
  font-weight: bold;
}

.input-field,
#where-data {
  margin: 0.5rem;
}

#form-btns {
  display: flex;
  justify-content: center;
}

.add-details-btn {
  margin: 0 0.5rem;
  font-size: 1rem;
}

#status-container {
  width: 60%;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
}

#save-map-btn {
  font-size: 1.25rem;
}

#save-map-router {
  grid-column: 1 / 3;
}

.toggle-container {
  margin-bottom: 1rem;
}

/* VIEW ITINERARY */
.marker-details-header {
  width: 2.5rem;
  height: 2.5rem;
}

.marker-header-number {
  position: relative;
  font-size: 1rem;
  top: 1.5rem;
}

.itin-section-header {
  color: #5e5c6c;
  font-weight: bold;
  margin: 0.3rem 0;
  text-decoration: underline;
}

.itin-where-text {
  color: #5e5c6c;
  font-weight: bold;
}

/* VIEW MAP ITINERARY */
#detailed-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modify-btns {
  margin: 0.25rem;
}

/* HOME !USERAUTH */
#home-no-userAuth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-no-userAuth-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* VIEW MAPS */
#view-maps-container {
  width: 100%;
}

#user-maps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.view-maps-header {
  width: 100%;
  flex-basis: 100%;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bold;
  position: relative;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid #5e5c6c;
}

#prompt-login {
  position: relative;
  grid-column: 1 / 3;
  text-align: right;
  margin-right: 3rem;
  font-weight: bold;
  animation: animate 4s linear 1;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
