/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END OF CSS RESET */

html,
body {
  --map-width: 300px;
}

body {
  font: 18px sans-serif, Helvetica, Arial;
  color: #5e5c6c;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

html {
  margin: 0 auto;
  max-width: 1920px;
}

h1 {
  font-size: 1.25rem;
}

button {
  color: #fcfcfc;
  font-weight: 500;
  background-color: #a2bce0;
  border: 2px solid transparent;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #6c7d95;
}

button:active {
  background-color: #363f4b;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: 2px solid #bdd5ae;
  outline-offset: -3px;
}

/* BEGIN HEADER CSS */
header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  align-items: center;
  padding-top: 0.25rem;
  background-color: #dfdee3;
  margin-bottom: 1rem;
}

#title-container {
  height: 2rem;
  display: flex;
  align-items: center;
}

#app-title {
  position: relative;
  top: 0.2rem;
  height: 2rem;
  font-size: 2rem;
  color: #5e5c6c;
}

#auth-container {
  margin-right: 0.5rem;
  justify-self: end;
}

#sign-in-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#user-greeting {
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

nav {
  grid-column: 1 / 3;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: #2f97c1;
  text-decoration: none;
}
a:visited {
  color: #5e5c6c;
  color: #2f97c1;
}
a:hover {
  text-decoration: underline;
}

.nav-link,
.nav-link:visited,
a.view-map-link,
a.view-map-link:visited {
  color: #5e5c6c;
}

.App,
#map,
#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-container {
  width: 100%;
}

.map-container {
  width: calc(var(--map-width) + 1rem);
  box-shadow: 5px 5px 10px #1c1c1c;
  margin: 0rem 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-feed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sign-in-btn,
#sign-out-btn,
#display-user-name {
  display: hidden;
}

/* BEGIN CONNECT CSS */
#connections-container,
#connections-user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.connect-div {
  width: 300px;
  line-height: 1.75rem;
}

#active-connects-container {
  margin: 1rem 0;
}

#active-connects-header {
  text-align: center;
  font-weight: bold;
}

.connect-link,
.connect-link:visited {
  color: #363f4b;
}

.connect-link:hover {
  color: #a2bce0;
  color: #2f97c1;
}

#manage-connects-container {
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  grid-template-rows: 1.5rem auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "received sent"
    "data data";
}

.pending-connects-container {
  width: 100%;
  grid-area: data;
}

.pending-connects-container,
.manage-connects,
#search-connections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-connects {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem 0;
}

.manage-connects-toggle {
  cursor: pointer;
  margin-right: 0.25rem;
}

.none-pending {
  font-style: italic;
  color: #363f4b;
}

.toggle-header {
  display: flex;
}

.manage-connects-toggle:hover,
.toggle-selected {
  color: #bdd5ae;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

#manage-header {
  font-weight: bold;
  grid-area: title;
}

#sent-connections {
  display: none;
}

#search-connections-container {
  height: 105px;
}

#search-connections {
  height: 2rem;
  width: 250px;
  padding-left: 10px;
  background-color: #fcfcfc;
  border: 2px solid #dfdee3;
}

#psuedo-relative {
  position: relative;
  left: -133px;
  width: 0px;
  height: 0px;
}

#matched-users-container {
  position: absolute;
  width: 266px;
  max-height: 150px;
  font-size: 0.9rem;
  background-color: #dfdee3;
  overflow-y: scroll;
  line-height: 1.125rem;
}

.matched-users {
  cursor: pointer;
  padding-left: 10px;
  height: 1.25rem;
  padding-top: 5px;
}

.matched-users:hover {
  background-color: #bdd5ae;
}

#send-request-btn {
  display: none;
  margin-top: 0.5rem;
}

#guest-connect-container {
  margin: 0.5rem 3rem;
  line-height: 1.75rem;
}

/* ICONS */
.inline-icons {
  width: 0.65rem;
  height: 0.65rem;
  padding-left: 0.25rem;
}

.link-icon {
  stroke: #2f97c1;
}

#app-logo {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}

/* ENGAGEMENT */
#engagement-container {
  font-size: 0.9rem;
}

.engage-btns-bar {
  margin: 0.5rem 0;
  width: var(--map-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.engage-icon-container {
  height: 2.75rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}

.engage-icon-container:hover {
  background-color: #dfdee3;
}

.engage-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.display-engagement-data {
  display: flex;
  justify-content: space-between;
}

.numberOfLikes {
  position: relative;
  top: 1.5rem;
  left: 3rem;
}

.numberOfComments {
  z-index: 10;
}

.numberOfComments:hover {
  cursor: pointer;
  text-decoration: underline;
}

.comments-container {
  display: none;
  width: var(--map-width);
}

.comment {
  margin: 0.25rem 0;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}
.comment-name {
  font-weight: bold;
}

.comment-date {
  justify-self: end;
  font-size: 0.75rem;
}

.comment-text {
  line-height: 1rem;
  margin-top: 0.35rem;
  grid-column: 1 / 3;
}

.userComment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userComment-textarea {
  width: 100%;
}

.post-comment-btn {
  margin-top: 0.25rem;
  display: none;
}

.liked {
  fill: #a2bce0;
}

.disable-save:hover,
.disabled:hover {
  cursor: not-allowed;
  background-color: #ffd7d7;
}

.disable-save,
.disabled {
  position: relative;
  font-size: 0.65rem;
}

.disable-save:before,
.disabled:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: #363f4b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 2px 0 0px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: -37px;
  top: -0.7rem;
}

.disabled:before {
  content: "Must log in with Google!";
  width: 100px;
  left: -12px;
}

.disable-share:before {
  content: attr(data-hover);
}

.disable-save:hover:before,
.disabled:hover:before {
  opacity: 0.9;
  visibility: visible;
}

.btn-text,
.engaged-text,
.comment-quantity-text {
  font-size: 0.9rem;
}

.comment-quantity-text {
  padding-right: 0.5rem;
}

.engaged-text {
  font-weight: bold;
}

.share-with-container {
  display: none;
  background-color: #5e5c6c;
  border-radius: 0.25rem;
  opacity: 0.9;
  color: #dfdee3;
  font-weight: 600;
  width: 150px;
  height: 5rem;
  position: absolute;
  z-index: 10;
  overflow-y: scroll;
  padding: 3px 5px;
  line-height: 1rem;
}

.share-connection-name,
.shared-with-connection-name {
  padding-left: 5px;
  padding-top: 2px;
  font-weight: 500;
  line-height: 1.25rem;
}

.share-connection-name {
  cursor: pointer;
}

.shared-with-connection-name {
  cursor: not-allowed;
  color: #bdd5ae;
  padding-left: 2px;
}

.share-connection-name:hover {
  background-color: #bdd5ae;
  color: #5e5c6c;
}

.shared-with-checkmark {
  width: 1rem;
  height: 1rem;
}

.close-share-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.close-share {
  cursor: pointer;
  color: #fcfcfc;
  font-weight: bold;
}

.close-share:hover {
  color: #d00000;
}

.display-shared-with-container {
  font-size: 0.75rem;
  padding: 0 0.5rem;
}

/* RENDERMAPS */
.view-map-link-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-owner-name {
  text-align: right;
  font-size: 0.85rem;
  margin-right: 0.5rem;
}

.view-map-link {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  margin-left: 0.5rem;
}

/* TOGGLE SWITCHES */
.toggle-container {
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.75rem;
  background-color: #ff9999;
  border-radius: 0.75rem;
  transition: all 0.3s;
}

.switch::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #d00000;
  top: 2px;
  left: 0.1rem;
  transition: all 0.3s;
}

input:checked + label {
  background-color: #bdd5ae;
}

.checkbox:checked + .switch::after {
  left: 1.35rem;
  background-color: #6a994e;
}

.checkbox {
  display: none;
}

.switch-label {
  display: flex;
  align-items: center;
  padding-right: 0.25rem;
}

#mapToEdit-published {
  font-weight: bold;
  color: #bdd5ae;
}

#checkmark-published {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.25rem;
}

/* CREATE MAP */
#create-map-container {
  width: 100%;
  height: auto;
  border: none;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
}

#start-new-map-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#new-map-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
}

#new-map-btn {
  height: 2rem;
  font-size: 1rem;
  background-color: #6a994e;
}

#new-map-btn:hover {
  background-color: #476634;
}

#new-map-btn:active {
  background-color: #354d27;
}

#add-marker-details {
  margin: 1rem 0;
}

#map-title-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

#map-title-input {
  height: 1.25rem;
  flex-grow: 2;
  padding-left: 0.25rem;
  margin-left: 0.25rem;
  /* border: 1px solid transparent; */
}

#search-bar {
  margin: 0.5rem 0;
}

#itinerary-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  font-size: 1rem;
}

.itinerary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--map-width) * 0.85);
  font-size: 0.9rem;
}

#add-marker-btn {
  display: none;
}

#add-marker-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-left: 1rem;
}

#where-container,
#when-container,
.form-field,
#form-btns {
  width: 100%;
}

#when-container,
.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.when-form,
#form-btns {
  width: 75%;
  flex-direction: row;
  justify-content: space-around;
}

textarea.input-field {
  width: 90%;
}

.form-section-header {
  /* height: 1.5rem; */
  padding-top: 0.25rem;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  color: #fcfcfc;
  background-color: #5e5c6c;
  font-weight: bold;
}

.input-field,
#where-data {
  margin: 0.5rem;
}

#form-btns {
  display: flex;
  justify-content: center;
}

.add-details-btn {
  margin: 0 0.5rem;
  font-size: 1rem;
}

#status-container {
  width: 60%;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
}

.disable-create-map {
  grid-column: 1 / 3;
  font-size: 1rem;
}

.disable-create-map:before {
  content: "Guests cannot save maps!";
  width: 225px;
  background: none;
  color: #363f4b;
  left: -60px;
  top: -15px;
}

.toggle-container {
  margin-bottom: 1rem;
}

#save-map-btn,
#confirm-edits-btn-container {
  grid-column: 1 / 3;
  font-size: 1rem;
}

.confirm-edits-btn {
  margin: 0 0.75rem;
  font-size: 1rem;
}

/* VIEW ITINERARY */
.marker-details-header {
  width: 1.75rem;
  height: 1.75rem;
}

.marker-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marker-header-number {
  position: relative;
  font-size: 0.7rem;
  top: 1.1rem;
}

.itin-section-header {
  color: #5e5c6c;
  font-weight: bold;
  margin: 0.3rem 0;
  text-decoration: underline;
}

.itin-where-text {
  color: #5e5c6c;
  font-weight: bold;
}

.itinerary-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#itinerary-header-create {
  justify-content: space-around;
}

.modify-map-container {
  display: flex;
  justify-content: flex-end;
  width: calc(var(--map-width) + 1rem);
  padding: 0;
}

/* VIEW MAP ITINERARY */
#detailed-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modify-btns-container {
  margin-bottom: 0.5rem;
}

.modify-btns {
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0 0.25rem;
  padding: 0;
  background-color: white;
  border-radius: 0.25rem;
  position: relative;
  font-size: 0.65rem;
}

.modify-map {
  color: #363f4b;
  height: 1.5rem;
  width: 1.5rem;
}

.modify-btns:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 75px;
  color: #363f4b;
  font-weight: bold;
  text-align: right;
  border-radius: 5px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  right: -5px;
  top: -15px;
}

.modify-btns:hover:before {
  opacity: 0.9;
  visibility: visible;
}

#confirm-delete-psuedo-relative {
  display: none;
  position: relative;
  width: 0;
  height: 0;
  left: -225px;
  top: 1.5rem;
  z-index: 10;
}

#confirm-delete-map-container {
  padding: 0.5rem;
  position: absolute;
  background-color: rgba(223, 222, 227, 0.9);
  text-align: center;
  line-height: 1.25rem;
  width: 200px;
  border-radius: 0.5rem;
}

#confirm-delete-btns-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

/* HOME !USERAUTH */
#home-no-userAuth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-no-userAuth-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* VIEW MAPS */
#view-maps-container {
  width: 100%;
}

.render-map-container {
  margin-bottom: 1rem;
}

.user-maps-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.view-maps-header {
  width: 100%;
  flex-basis: 100%;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bold;
  position: relative;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid #5e5c6c;
  margin-bottom: 0.5rem;
}

#prompt-login {
  position: relative;
  grid-column: 1 / 3;
  text-align: right;
  margin-right: 3rem;
  font-weight: bold;
  animation: animate 4s linear 1;
}

.empty-map-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 2rem;
  line-height: 1.5rem;
  align-items: center;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

#guest-container {
  line-height: 1.5rem;
  margin: 0.5rem 3rem;
}

#guest-list {
  margin-top: 0.5rem;
  line-height: 2rem;
  margin-left: 1rem;
}

.guest-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
}

.guest-list-items {
  display: flex;
  align-items: center;
}

/* CONFIRM ADD MODAL */
#confirm-add-modal {
  display: none;
  position: absolute;
  top: 100px;
  background-color: #dfdee3;
  border: 1px solid transparent;
  border-radius: 1rem;
  width: 250px;
  height: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.95;
}

#checkmark-icon {
  width: 2.5rem;
  height: 2.5rem;
}

#confirm-text {
  font-weight: bold;
}

/* USER COMPONENT */
#user-profile-header-container {
  margin-bottom: 1rem;
  margin-left: 3rem;
}
#user-profile-header {
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  font-weight: bold;
}

.user-profile-connection-status {
  display: flex;
  align-items: center;
  color: #bdd5ae;
  font-style: italic;
  line-height: 1.25rem;
}

.profile-connect-msg {
  padding-top: 2px;
}

#profile-not-connected {
  color: #5e5c6c;
}

#not-connected-msg {
  /* color: #d00000; */
}
